/* project_index.css */



/* TITLE */
.title{
	background-color: lightblue;
	float:none;
	margin: 0 auto;
	width: 33.33333%;
}

.title-text{
	font-size: 8em;
	text-align: center;
}

/* sss */
html, body{
	height: 100%;
}

.site-wrapper{
	height: 100%;
}

/* NAVIGATION */
.nav{
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 20;
	background-color: aqua;
}

/* MAIN */
.main{
	background-color: lightgreen;
	position: relative;
	height: 100%;
	padding-top: 200px;
}

/* LOGIN */
.login-section{
	background-color: lightcoral;
	float:none;
	margin: 100px auto;
	width: 33.33333%;
}

.login-section-content{
	width: inherit;
	background-color: transparent;
	border: 0;
	padding: 10px;
	font-size: 16px;
	font-weight: 300;
}

.input-wrapper{
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.submit-wrapper{
	text-align: center;
}

.login-btn{
	border: none;
    border-radius: 5px;
    float: none;
    margin: 0 auto;
    font-size: 20px;
    background-color: #c9daff;
    width: 33.3333%;
    height: 40px;
}